---
layout: default
title: Home
---
<div class="photohome">
  <img src="/assets/images/home/photo-profile-zuhdi-fikri-blog.jpg" alt="photo-profile-zuhdi-fikri-blog.jpg">
</div>

<h1 class="namehome">Muhammad Zuhdi Fikri Johari</h1>
<hr>

{% include intro.html %}

<div id="intro-contact">
  <p>
    <strong>Email</strong>: <i>{second_name}.{third_name}</i>@students.amikom.ac.id
  </p>
  <p>
    <strong>Also find me on</strong>:
    <a href="https://www.linkedin.com/in/muhammad-zuhdi-fikri-johari/" target="_blank" rel="noopener noreferrer" class="profile-link">LinkedIn</a>
    <a href="https://ikkifik.medium.com/" target="_blank" rel="noopener noreferrer" class="profile-link">Medium</a>
    <a href="https://github.com/ikkifik" target="_blank" rel="noopener noreferrer" class="profile-link">Github</a>
    <a href="https://scholar.google.com/citations?user=MhGfsr8AAAAJ&hl=id&oi=ao" target="_blank" rel="noopener noreferrer" class="profile-link">Google Scholar</a>
  </p>
</div>

{% include current_activities.html %}
{% include research_interest.html %}

