<ul id="course_taken">
    <li>
        <strong><i>From Data to Insights with Google Cloud</i></strong>, Coursera.
        <a href="https://coursera.org/share/200e4ea8bb118f6f05f2900f7f884e9e" target="_blank" rel="noopener noreferrer" class="author-highlight">[Credential]</a>
    </li>

    <!-- Systems -->
    <!-- <li>
        <strong><i>Introduction to High-Performance and Parallel Computing</i></strong>, Coursera.
        <a href="https://www.coursera.org/learn/introduction-high-performance-computing" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li>
    <li>
        <strong><i>Python, Bash and SQL Essentials for Data Engineering Specialization</i></strong>, Coursera.
        <a href="https://www.coursera.org/specializations/python-bash-sql-data-engineering-duke" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li> -->

    <!-- Artificial Intelligence (NLP/DL) -->
    <!-- <li>
        <strong><i>AI for Good Specialization</i></strong>, Coursera.
        <a href="https://www.coursera.org/specializations/ai-for-good" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li>
    <li>
        <strong><i>Machine Learning Specialization</i></strong>, Coursera.
        <a href="https://www.coursera.org/specializations/machine-learning-introduction" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li>
    <li>
        <strong><i>Mathematics for Machine Learning and Data Science Specialization</i></strong>, Coursera.
        <a href="https://www.coursera.org/specializations/mathematics-for-machine-learning-and-data-science" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li>
    <li>
        <strong><i>Deep Learning Specialization</i></strong>, Coursera.
        <a href="https://www.coursera.org/specializations/deep-learning" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li>
    <li>
        <strong><i>Natural Language Processing Specialization</i></strong>, Coursera.
        <a href="https://www.coursera.org/specializations/natural-language-processing" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li> -->

    <!-- Math Foundation -->
    <!-- <li>
        <strong><i>Mathematics for Machine Learning Specialization</i></strong>, Coursera.
        <a href="https://www.coursera.org/specializations/mathematics-machine-learning" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li>
    <li>
        <strong><i>An Intuitive Introduction to Probability</i></strong>, Coursera.
        <a href="https://www.coursera.org/learn/introductiontoprobability" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li>
    <li>
        <strong><i>Algebra: Elementary to Advanced Specialization</i></strong>, Coursera.
        <a href="https://www.coursera.org/specializations/algebra-elementary-to-advanced" target="_blank" rel="noopener noreferrer">[In-progress]</a>
    </li> -->
</ul>