<h3>Current Activities</h3>
<ul>
    <!-- <li>
        <strong><i>Research Assistant (remote)</i></strong>. 
        Building <a href="https://ragambahasa.id" target="_blank" rel="noopener noreferrer" class="collaborator-highlight">RagamBahasaID</a> Platform as part of Grassroot Initiation for Collecting and Digitizing Indonesia Local Language Resources. 
        Under <a href="https://derrywijaya.github.io" target="_blank" rel="noopener noreferrer" class="collaborator-highlight">Prof. Derry Wijaya</a> Supervision, Boston University, US. 
        <br> 
        <i>— Part of Garuda ACE Research Collaboration program by DIKTI and LPDP, project I2: Collecting and Digitizing Datasets of Indonesia Local Languages.</i>
    </li>
    <br> -->
    <li>
        <strong><i>Research Programmer</i></strong>. 
        Involve in <a href="https://silvanus.amikom.ac.id/" target="_blank" rel="noopener noreferrer" class="collaborator-highlight">AMIKOM SILVANUS</a> Research Group, research focus on Computational Geo/Environmental Science for Wild Fire and Forest Management.
        Working with various data form related to spatial-geography data processing.
        <br> 
        <i>— Part of <a href="https://silvanus-project.eu/" target="_blank" rel="noopener noreferrer" class="collaborator-highlight">SILVANUS</a> Project, funded by EU Horizon 2020.</i>
    </li>
</ul>