<div id="en-intro">
  <p>Welcome, my name is <b>Fikri</b>.</p>
  <p>
    <!-- I like <a href="/notes">writing</a>, sometimes do <a href="/books">reading</a>, and also experimenting.  -->
    Here in this blog, I want to express everything that I already got along my study journey.</p>
  <p>
    Find me on:
    <a href="https://www.linkedin.com/in/muhammad-zuhdi-fikri-johari/" target="_blank" rel="noopener noreferrer"
      class="profile-link">LinkedIn</a>
    <a href="https://ikkifik.medium.com/" target="_blank" rel="noopener noreferrer" class="profile-link">Medium</a>
    <a href="https://github.com/ikkifik" target="_blank" rel="noopener noreferrer" class="profile-link">Github</a>
    <a href="https://scholar.google.com/citations?user=MhGfsr8AAAAJ&hl=id&oi=ao" target="_blank" rel="noopener noreferrer" class="profile-link">Google Scholar</a>
  </p>
</div>
