<div id="id-intro" hidden>
  <p>Selamat datang, perkenalkan saya <b>Fikri</b>.</p>
  <p>
    <!-- Saya memiliki kegemaran <a href="/notes">menulis</a>, <a href="/books">membaca</a>, dan bereksperimen.  -->
    Blog ini adalah sarana berkekspresi dari apa yang telah saya dapat selama perjalanan belajar saya.</p>
  <p>
    Temui saya di platform lain seperti, 
    <a href="https://www.linkedin.com/in/muhammad-zuhdi-fikri-johari/" target="_blank" rel="noopener noreferrer" class="profile-link">LinkedIn</a> untuk informasi dengan format formal, 
    <a href="https://ikkifik.medium.com/" target="_blank" rel="noopener noreferrer" class="profile-link">Medium</a> untuk membaca tulisan saya yang lain. <!-- dan -->
    <!-- <a href="https://github.com/ikkifik" target="_blank" rel="noopener noreferrer" class="profile-link">Github</a> sebagai repository penyimpanan proyek saya yang terbaru. -->
  </p>
</div>
