<div>
    <p>
      I'm an Undergraduate Student in Informatics at <a href="https://home.amikom.ac.id" target="_blank" rel="noopener noreferrer" class="profile-link">Amikom University,</a> Indonesia. I currently collaborating with <a href="https://derrywijaya.github.io/" target="_blank" rel="noopener noreferrer" class="profile-link">Prof. Derry Wijaya</a> of Boston University <a href="https://ragambahasa.id" target="_blank" rel="noopener noreferrer" class="author-highlight">RagamBahasa</a>. 

      Previously, I worked with <a href="https://www.kusrini.com/" target="_blank" rel="noopener noreferrer" class="profile-link">Prof. Kusrini</a> and <a href="https://scholar.google.com/citations?hl=en&user=LH34CyEAAAAJ&view_op=list_works&sortby=pubdate" target="_blank" rel="noopener noreferrer" class="profile-link">Dr. Arief Setyanto</a> in geospatial data processing for the <a href="https://silvanus-project.eu/" target="_blank" rel="noopener noreferrer" class="author-highlight">SILVANUS Project</a>.
    
      Before that, I worked as a data engineer for a big data solution company in Yogyakarta, Indonesia, where I handled data flows from upstream to downstream. 
      My research interests lie in <span class="author-highlight">Software Engineering, Data Engineering, Data Discovery, Information Extraction</span>.
    </p>

</div>
  