<div>
    <p>
        Hi, I am <span class="author-highlight">Fikri</span> a <i>self-proclaimed</i> Researcher because I have done some research and Involved on some <a href="/project">papers</a> while joining some research group during my undergraduate at <a href="https://home.amikom.ac.id" target="_blank" rel="noopener noreferrer" class="collaborator-highlight">Purple Campus</a>. 
    </p>
    <p>
      I'm trying to do deep study about AI/ML but due to a lot of task I still haven't found the time yet. I'm open to any discussion about Computer Science related field, including any interdisciplinary topics.
    </p>
    
</div>
  