<div>
    <p>
      I'm a BS Informatics student at <a href="https://home.amikom.ac.id" target="_blank" rel="noopener noreferrer" class="profile-link">Universitas Amikom Yogyakarta,</a> Indonesia. My research interest mainly in <span class="author-highlight">Data Engineering</span>, I also love exploring <span class="author-highlight">Software Engineering, Data Discovery, Information Retrieval</span> research topics.
    </p>

    <p>
      During my studies, I have worked with <a href="https://www.kusrini.com/" target="_blank" rel="noopener noreferrer" class="profile-link">Prof. Kusrini</a> in geospatial data processing for the <a href="https://silvanus-project.eu/" target="_blank" rel="noopener noreferrer" class="profile-link">SILVANUS Project</a>. Before that, I worked as a data engineer for a big data solution company in Yogyakarta, Indonesia, where I handled data flows from upstream to downstream. 
    </p>
</div>
  