<li>
    <strong>The Hybrid Recommender System of the Indonesian Online Market Products using IMDb weight rating and TF-IDF</strong><br />
    <i class="author-highlight">Muhammad Zuhdi Fikri Johari</i>, Arif Dwi Laksito<br />
    <em>Jurnal RESTI (Rekayasa Sistem dan Teknologi Informasi) 2021</em>
    <a href="https://doi.org/10.29207/resti.v5i5.3486" target="_blank">[Paper]</a> 
    <a href="https://github.com/ikkifik/hybrid-recsys-mp" target="_blank" rel="noopener noreferrer">[Code]</a>
</li>
