<li>
    <a href="https://doi.org/10.29207/resti.v5i5.3486" target="_blank">
        <strong>The Hybrid Recommender System of the Indonesian Online Market Products using IMDb weight rating and TF-IDF</strong>
    </a>
    <br />
    <i class="author-highlight">Muhammad Zuhdi Fikri Johari</i>, Arif Dwi Laksito<br />
    <em>2021, Jurnal RESTI (Rekayasa Sistem dan Teknologi Informasi)</em>
</li>
<br />
<li>
    <a href="https://doi.org/10.1109/ICITISEE57756.2022.10057604" target="_blank">
        <strong>Monte Carlo Method For Map Area Calculation In Wildland Fire Map Management</strong>
    </a>
    <br />
    Kumara Ari Yuana, Kusrini, Arief Setyanto, Arif Dwi Laksito, Zauvik Rizaldi Maruf, <i class="author-highlight">Muhammad Zuhdi Fikri Johari</i>, 
    Gardyas Bidari Adninda, Renindya Azizza Kartikakirana, Rhisa Aidilla Suprapto, Prasetyo Mimboro, Wiwi Widayani<br />
    <em>2022, 6th International Conference on Information Technology, Information Systems and Electrical Engineering (ICITISEE)</em>
</li>
