<ul>
    <li style="margin-bottom: 1rem;">
        <a href="https://doi.org/10.1109/ICOIACT59844.2023.10455935" target="_blank"><strong>GIS data support technique for forest fire management and decision support system: A Sebangau National Park, Kalimantan case</strong></a>
        <br />
        Kumara Ari Yuana, Kusrini Kusrini, Arief Setyanto, Arif Dwi Laksito, Zauvik Rizaldi Maruf, <i class="author-highlight">Muhammad Zuhdi Fikri Johari</i>, et al.
        <br />
        <em>IEEE 6th International Conference on Information and Communications Technology (ICOIACT), 2023</em>
    </li>
    <li style="margin-bottom: 1rem;">
        <a href="https://doi.org/10.1109/ICPRS58416.2023.10179001" target="_blank"><strong>Machine Learning and Social Media Harvesting for Wildfire Prevention</strong></a>
        <br />
        Arif Dwi Laksito, Kusrini Kusrini, Arief Setyanto, <i class="author-highlight">Muhammad Zuhdi Fikri Johari</i>, et al.
        <br />
        <em>IEEE 13th International Conference on Pattern Recognition Systems (ICPRS), 2023</em>
    </li>
    <li style="margin-bottom: 1rem;">
        <a href="https://doi.org/10.1109/ICITISEE57756.2022.10057604" target="_blank"><strong>Monte Carlo Method For Map Area Calculation In Wildland Fire Map Management</strong></a>
        <br />
        Kumara Ari Yuana, Kusrini Kusrini, Arief Setyanto, Arif Dwi Laksito, Zauvik Rizaldi Maruf, <i class="author-highlight">Muhammad Zuhdi Fikri Johari</i>, et al.
        <br />
        <em>IEEE 6th International Conference on Information Technology, Information Systems and Electrical Engineering (ICITISEE), 2022</em>
    </li>
    <li style="margin-bottom: 1rem;">
        <a href="https://doi.org/10.29207/resti.v5i5.3486" target="_blank"><strong>The Hybrid Recommender System of the Indonesian Online Market Products using IMDb weight rating and TF-IDF</strong></a>
        <br />
        <i class="author-highlight">Muhammad Zuhdi Fikri Johari</i>, Arif Dwi Laksito
        <br />
        <em>Journal of Rekayasa Sistem dan Teknologi Informasi (RESTI), 2021</em>
    </li>
</ul>